#root {
  max-width: 1600px;
  margin: 0 auto;
  letter-spacing: -0.05rem;
}

.card {
  padding: 0.5rem 1rem;
}

.title {
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 300;
}

.result {
  background: #fafafa;
  padding: 0.8rem;
  border-radius: 9px;
  border: 1px #eeeeeeff solid;
  margin: 0.5rem 0rem;
}

.result .heading {
  display: flex;
  justify-content: left;
  margin: -0.2rem;
}

.result .heading .site {
  padding: 0.4rem;
}

hr {
  background-color: #eaeaea;
  border: none;
  height: 1px;
}

.result .heading .goodmatch {
  padding: 0.4rem;
  background-color: #00ff730f;
  color: #015a19;
}
.result .heading .badmatch {
  padding: 0.4rem;
  background-color: #f4735c0f;
  color: #5a1701;
  border-radius: 9px;
}
.result .heading .midmatch {
  padding: 0.4rem;
  background-color: #e1ff000f;
  color: #595a01;
}

.result .heading .posttitle {
  margin: -1rem;
}

.true {
  background-color: #f4735c0f;
  color: #5a1701;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2rem 0.5rem;
  border-radius: 9px;
  text-align: center;
  border: 1px #5a1701a4 solid;  
}

a {
  color: inherit;
}

.false {
  background: #00ff730f;
  color: #015a19;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2rem 0.5rem;
  border-radius: 9px;
  text-align: center;
  border: 1px #026e33a4 solid;
}

h1 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: -0.2rem;
  letter-spacing: -0.1rem;
}

.desc {
  color: 0000000c;
  font-style: italic;
  font-size: 0.6rem;
}

.desc2 {
  color: 000000aa;
  letter-spacing: 0rem;
}
